name: React CI-CD Pipeline
 
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "**" ]
 
env:
  DOCKER_IMAGE_BASE: "balasurya3777/java-script"  # UPDATED IMAGE NAME
  NEXUS_URL: ":8081"
  NEXUS_REPO: "npm-releases"
  SONAR_HOST_URL: "http://16.170.207.67:9000"
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
    # 1. Checkout Repository
    - name: Checkout Repository
      uses: actions/checkout@v3
 
    # 2. Setup NodeJS
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'
 
    # 3. Install Dependencies
    - name: Install Dependencies
      run: npm install
 
    # 4. SonarQube Scan
    - name: SonarQube Scan
      if: github.ref == 'refs/heads/master'
      env:
        SONAR_TOKEN: ${{ secrets.SONAR }}
      run: |
        npx sonar-scanner \
          -Dsonar.projectKey=react-project \
          -Dsonar.sources=src \
          -Dsonar.host.url=${{ env.SONAR_HOST_URL }} \
          -Dsonar.login=$SONAR_TOKEN
 
    # 5. Build React App
    - name: Build React App
      run: npm run build
 
    # 6. Upload Build Artifacts to Nexus RAW Repository
    - name: Upload to Nexus RAW
      env:
        NEXUS_USER: ${{ secrets.NEXUSUNAME }}
        NEXUS_PASS: ${{ secrets.NEXUSPW }}
      run: |
        echo "Uploading build files to Nexus RAW repository..."
        cd build
        for file in $(find . -type f); do
          echo "Uploading: $file"
          curl -u "$NEXUS_USER:$NEXUS_PASS" \
            --upload-file "$file" \
            "http://${{ env.NEXUS_URL }}/repository/${{ env.NEXUS_REPO }}/$file"
        done
 
    # 7. Build Docker Image
    - name: Build Docker Image
      run: docker build -t ${{ env.DOCKER_IMAGE_BASE }}:0.0.1-${{ github.run_number }} .
 
    # 8. Login to Docker Hub
    - name: Docker Login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERUNAME }}
        password: ${{ secrets.DOCKERPW }}
 
    # 9. Push Docker Image
    - name: Push Docker Image
      run: docker push ${{ env.DOCKER_IMAGE_BASE }}:0.0.1-${{ github.run_number }}
