name: React CI-CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  DOCKER_IMAGE_BASE: "balasurya3777/java-script"
  NEXUS_URL: ":8081"
  NEXUS_REPO: "npm-releases"
  SONAR_HOST_URL: "http://16.16.146.109:9000"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build React app
        run: npm run build

      - name: Run SonarQube analysis
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR }}
          SONAR_HOST_URL: ${{ env.SONAR_HOST_URL }}
        with:
          args: >
            -Dsonar.projectKey=react-app
            -Dsonar.projectName=react-app
            -Dsonar.sources=src
            -Dsonar.exclusions=**/node_modules/**,**/build/**
            -Dsonar.host.url=${{ env.SONAR_HOST_URL }}

      - name: Create ZIP archive
        run: |
          npm install --save-dev bestzip
          npx bestzip javanew-${{ github.run_number }}.zip build/*

      - name: Upload to Nexus
        env:
          NEXUS_USR: ${{ secrets.NEXUS_USERNAME }}
          NEXUS_PSW: ${{ secrets.NEXUS_PASSWORD }}
        run: |
          curl -f -u "$NEXUS_USR:$NEXUS_PSW" \
            --upload-file javanew-${{ github.run_number }}.zip \
            http://16.170.207.67:8081/repository/npm-releases/javanew-${{ github.run_number }}.zip

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE_BASE }}:${{ github.run_number }}
            ${{ env.DOCKER_IMAGE_BASE }}:latest
